.wrapper {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.fillIcons {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  transition: width .3s, color .3s;
}
